<%= form_with(model: [pickup, @message]) do |f| %>
  <div class="user-message-field d-flex justify-content-between">
    <%= f.text_area :content, class: 'form-control', style: "height: 68px;" %>
    <%= f.submit 'Submit', class: "message-btn btn btn-outline-primary", style: "height: 40px;" %>
  </div>
<% end %>
