<div class="card ml-5">
  <%= form_with(model: [pickup, @message]) do |f| %>
    <div class="form-group">
      <%= f.label 'Reply' %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>
