<%= form_with(model: [pickup, @message]) do |f| %>
  <div class="user-message-field d-flex justify-content-between">
  <%= f.hidden_field :tab, value: tab %>
    <%= f.text_area :content, class: 'form-control', style: "height: 68px;" %>
    <button type="submit" class="message-btn">
      <p><i class="fa fa-paper-plane"></i></p>
    </button>
  </div>
<% end %>
