// Define variables for your color scheme

// For example:
$red: #A31621;
$blue: #008BF8;
$yellow: #F5B700;
$orange: #FF6B35;
$green: #59b089; // I changed it to a 'Givr green'. Please choose a better green...
$gray: #0E0000;
$light-gray: #F4F4F4;
