// Import page-specific CSS files here.
@import "home";
@import "show_item";

.top-menu {
  padding: 12px;
}

.form {
  padding: 12px;
}
.label {
  font-size: 16px;
}

.field {
  width: 400px;
  border-radius: 10px;
  border-width: 1px;
}

.form-button {
  border-radius: 10px;
  background-color: rgb(150, 213, 150);
  border-width: 1px;
  transition:0.2s ease all;
}

.form-button:hover {
  background-color: rgb(179, 255, 179);
}
