// Import page-specific CSS files here.
@import "home";
@import "show_item";
@import "my_dashboard";

.top-menu {
  padding-top: 8px;
  padding-left: 40px;
}

.body--container-filler {
  min-height: calc(70vh);
}
