// Place all the styles related to items and pickups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Tabs */

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  // border-bottom: 1px solid black;
  background-color: #59B089;
}

.tab {
  cursor: pointer;
  padding: 10px;
  width: max-content;
  text-align: center;
  width: -webkit-fill-available;
  background-color: #59B089;
}

.tab.active {
  background-color: #F7F6F6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab:hover {
  background-color: rgb(179, 255, 179);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}



// .card {
//   margin: 24px;
// }
