// Place all the styles related to items and pickups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Tabs */

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(89,176,137);
  border-bottom-width: medium;
  margin-top: -48px;
}

.tab {
  border-radius: 16px 16px 0 0;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  position: relative;
  border: 3px solid rgb(89,176,137);
  margin-bottom: -3px;
}

.tab.active {
  background-color: rgb(247,246,246);
  border-bottom: none;
}

.tab:hover {
  background-color: rgb(89,176,137);
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

.dashboard-user-title {
  display: table;
  margin: 0 auto;
  padding: 8px;
}

.result-text {
  display: flex;
  justify-content: space-between;

  h4, h3 {
    margin-top: 16px;
  }

  h3 {
    margin-left: 16px;
  }

  h4 {
    margin-right: 32px;
  }
}

// .card {
//   margin: 24px;
// }
