.img-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1em solid white;
  box-shadow: 7px 6px 10px 0px rgba(0,0,0,0.40);
}
.img-show-card {
  width: 1;
  margin-bottom: 30px;
  padding-top: 30px;
}
.rounded-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 1em;
  box-shadow: 7px 6px 10px 0px rgba(0,0,0,0.40);
}
.img-flex-show {
  display: flex;
}
.img-flex-show-sm {
  display: flex;
  flex-direction: column;
}
