.navbar-lewagon {
  justify-content: space-between;
  background: $green;
  padding-left: 12px;
  padding-right: 12px;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-header {
  display: flex;
  align-items: flex-end;
}

.nav-text {
  text-decoration: none;
  color: white;
  font-size: 45px;
}

.nav-text:hover {
  color: rgb(56, 125, 94);
}
